{% extends "base.html" %}
{% block body %}
  <div class="post__header">
    <h1 class="post__title">{{ blog_post.title }}</h1>
    <h3 class="post__date">{{ blog_post.date_str }}</h3>
  </div>
  {% if is_creator %}
    <div class="post__links">
      <a class="post__edit" href="/post/{{ blog_post.key.id() }}/edit">Edit</a>
      <form method="post">
        <button class="post__delete" name="delete" value="delete">Delete</button>
      </form>
    </div>
  {% endif %}
  <h2 class="post__user">by {{ blog_post.username }}</h2>
  {% if is_creator or already_liked %}
    <div class="post__likes">{{ likes }} Likes</div>
  {% endif %}
  {% if not is_creator %}
    {% if not already_liked %}
      <form method="post">
        <button class="post__like" name="like" value="like">Like this post</button>
      </form>
    {% else %}
      <form method="post">
        <button class="post__unlike" name="like" value="unlike">Unlike</button>
      </form>
    {% endif %}
  {% endif %}
  {% for para in blog_post.paragraphs %}
    <p class="post__content">{{ para }}</p>
  {% endfor %}
  <h2>Comments</h2>
  {% for comment in comments %}
    <div class="comment">
      <div class="comment__header">
        <span class="comment__user">{{ comment.username }}</span>
        <span class="comment__date">{{ comment.formatted_date }}</span>
      </div>
      <div class="comment__links">
        {% if user and user.key.id() == comment.user_id %}
          <a class="comment__edit" href="/post/{{ blog_post.key.id() }}/comment/{{ comment.key.id() }}">Edit</a>
          <form method="post" action="/post/{{ blog_post.key.id() }}/comment/{{ comment.key.id() }}">
            <button class="comment__delete" type="submit" name="delete" value="delete">Delete</button>
          </form>
        {% endif %}
      </div>
      <p class="comment__comment">
        {% for para in comment.paragraphs %}
          {{para}}</br>
        {% endfor %}
      </p>
    </div>
  {% endfor %}
  {% if user %}
    <h3>Write a comment:</h3>
    <form class="comment-form" method="post" action="/post/{{ blog_post.key.id() }}/comment">
      <p><textarea class="comment-box" name="comment"></textarea></p>
      <p><button class="comment-form__submit">Submit</button></p>
    </form>
    <div class="error">{{ error }}</div>
  {% else %}
    <h3 class="login-message">You must be logged in to comment.</h3>
  {% endif %}
{% endblock %}
