{% extends "base.html" %}
{% block body %}
  {% if post %}
    <form class="box-form" method="post" action="/post/{{  post.key.id() }}">
  {% else %}
    <form class="box-form" method="post" action="/post">
  {% endif %}
    <p><label for="title">Title</label></p>
    <p><input type="text" class="post-form__post-title" value="{{ title }}" name="title" /></p>
    <p><label for="content">Content</label></p>
    <p><textarea class="post-form__post-content" name="content">{{ content }}</textarea></p>
    <p><button class="post-form__submit" type="submit">Submit</button></p>
  </form>
  {% for error in errors %}
    <p class="error">{{ error }}</p>
  {% endfor %}
{% endblock %}
