{% extends "base.html" %}
{% block body %}
  {% if comment %}
    <form class="box-form" method="post" action="/post/{{ post_id }}/comment/{{ comment.key.id() }}">
  {% else %}
    <form class="box-form" method="post" action="/post/{{ post_id }}/comment">
  {% endif %}
    <p><label for="comment">Write a comment</label></p>
    <p><textarea class="comment-form__textarea" name="comment">{{ comment.comment }}</textarea></p>
    <p><button class="comment-form__submit" type="submit">Submit</button></p>
  </form>
  <div class="error">{{ error }}</div>
{% endblock %}
